.pdf-viewer {
  width: 100%;
  height: 700px;
}

/* @media (max-width: 800px) {
  .pdf-viewer iframe {
    width: 100%;
  }
} */

/* @media (min-width: 800px) {
  .pdf-viewer iframe {
    width: 800px;
    height: 1600px;
  }
} */